.allAttendance {
    margin: 20px;
    border-collapse: collapse;
    width: auto; 
    text-align: center;
    padding: 8px;
}
  
tr,td,th {
    border: 1px solid black;
}

.main{
    display: flex;
}
a{
    cursor: pointer;
    width: 100%;
    height: 100%;
}